<section id="hero" class="vh-100">
  <div id="carouselHero" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="hero-slide d-flex align-items-center justify-content-center text-white">
          <div class="text-center">
            <h1>Bienvenue au centre commercial</h1>
            <h2>m1p13meantsiryirina</h2>
            <button class="btn btn-primary mt-3" routerLink="/login">
              Se connecter
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
