.hero-slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background 0.5s ease-in-out;
}
.hero-slide .text-center {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}