<section id="hero" class="vh-100">
  <div id="carouselHero" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="hero-slide d-flex align-items-center justify-content-center text-white"
             style="background-image: url('/img/mall11.jpg')">
          <div class="text-center">
            <h1>Bienvenue au centre commercial</h1>
            <h2>m1p13meantsiryirina</h2>
            <button class="btn btn-primary mt-3" routerLink="/login/mall">
              Diriger votre centre
            </button>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="hero-slide d-flex align-items-center justify-content-center text-white"
             style="background-image: url('/img/mall22.jpg')">
          <div class="text-center">
            <h1>Découvrez nos boutiques</h1>
            <h2>Tout ce que vous aimez sous un même toit</h2>
            <a class="btn btn-primary mt-3" routerLink="/login/boutique">
              Diriger votre boutique
            </a>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="hero-slide d-flex align-items-center justify-content-center text-white"
             style="background-image: url('/img/mall11.jpg')">
          <div class="text-center">
            <h1>On n'oublie pas nos clients</h1>
            <h2>Des fonctionnalités pour vous rapprocherde nous</h2>
            <button class="btn btn-primary mt-3" routerLink="/login">
              Connexion client
            </button>
          </div>
        </div>
      </div>

    </div>

    <!-- Contrôles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselHero" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselHero" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>

  </div>
</section>
