<div class="layout" id="container">
  <app-mall-admin-sidebar></app-mall-admin-sidebar>

  <main class="content align-items-start text-start">
    <h1 class="mb-4">Tableau de bord</h1>
    <div *ngIf="loading" class="text-muted">Chargement des métriques...</div>

    <div class="row g-3 w-100" *ngIf="metrics">
      <div class="col-md-4">
        <div class="card metric-card bg-primary text-white">
          <div class="card-body">
            <h6>Total boutiques</h6>
            <h3>{{ metrics.totalBoutiques }}</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card metric-card bg-success text-white">
          <div class="card-body">
            <h6>Boutiques actives</h6>
            <h3>{{ metrics.boutiquesActives }}</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card metric-card bg-info text-white">
          <div class="card-body">
            <h6>Taux d’occupation</h6>
            <h3>{{ metrics.tauxOccupation }} %</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card metric-card bg-warning text-dark">
          <div class="card-body">
            <h6>Loyer attendu</h6>
            <h3>{{ metrics.loyerAttendu | number: '1.0-0' }} Ar</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card metric-card bg-success text-white">
          <div class="card-body">
            <h6>Total payé</h6>
            <h3>{{ metrics.totalPaye | number: '1.0-0' }} Ar</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card metric-card bg-danger text-white">
          <div class="card-body">
            <h6>Reste à recevoir</h6>
            <h3>{{ metrics.resteARecevoir | number: '1.0-0' }} Ar</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4 w-100">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Évolution des paiements</h5>

        <div class="d-flex gap-2">
          <!-- Année -->
          <select
            class="form-select form-select-sm"
            [(ngModel)]="selectedYear"
            (change)="loadPaiementEvolution()"
          >
            <option *ngFor="let y of [2023, 2024, 2025, 2026]" [value]="y">
              {{ y }}
            </option>
          </select>

          <!-- Boutique -->
          <select
            class="form-select form-select-sm"
            [(ngModel)]="selectedBoutiqueId"
            (change)="loadPaiementEvolution()"
          >
            <option [ngValue]="null">Toutes les boutiques</option>
            <option *ngFor="let b of boutiques" [value]="b._id">
              {{ b.nom }}
            </option>
          </select>
        </div>
      </div>

      <div class="card-body">
        <div *ngIf="loadingEvolution" class="text-muted">Chargement du graphique...</div>

        <canvas id="paiementChart" height="120"></canvas>
      </div>
    </div>

    <div class="card p-3 mb-3 w-100">
      <div class="row g-2 align-items-end">
        <div class="col-md-3">
          <label class="form-label">Boutique</label>
          <select class="form-select" [(ngModel)]="selectedForTableBoutiqueId">
            <option [ngValue]="null">Toutes les boutiques</option>
            <option *ngFor="let b of boutiques" [ngValue]="b._id">
              {{ b.nom }}
            </option>
          </select>
        </div>

        <div class="col-md-3">
          <label class="form-label">Date début</label>
          <input type="date" class="form-control" [(ngModel)]="dateDebut" />
        </div>

        <div class="col-md-3">
          <label class="form-label">Date fin</label>
          <input type="date" class="form-control" [(ngModel)]="dateFin" />
        </div>

        <div class="col-md-3">
          <button class="btn btn-primary w-100" (click)="loadHistoLoyer()">Filtrer</button>
        </div>
      </div>
    </div>

    <div class="card w-100">
      <div class="table-responsive">
        <table class="table table-striped mb-0">
          <thead class="table-light">
            <tr>
              <th>Boutique</th>
              <th>Nouveau loyer</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let h of histoLoyers">
              <td>{{ h.id_boutique.nom }}</td>
              <td>{{ h.nouvelle_valeur | number }}</td>
              <td>{{ h.date_changement | date: 'dd/MM/yyyy' }}</td>
            </tr>

            <tr *ngIf="!loadingHisto && histoLoyers.length === 0">
              <td colspan="4" class="text-center text-muted">Aucun historique trouvé</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="d-flex justify-content-between align-items-center mt-3 w-100">
        <button class="btn btn-outline-secondary" [disabled]="page === 1" (click)="prevPage()">
          Précédent
        </button>

        <span>Page {{ page }} / {{ totalPages }}</span>

        <button
          class="btn btn-outline-secondary"
          [disabled]="page === totalPages"
          (click)="nextPage()"
        >
          Suivant
        </button>
      </div>
    </div>
  </main>
</div>
