<section id="contact" class="container my-5">
  <h2 class="text-center">Contact</h2>

  <div class="map-container" style="height: 400px">
    <iframe
      width="100%"
      height="100%"
      frameborder="0"
      scrolling="no"
      src="https://www.openstreetmap.org/export/embed.html?bbox=47.43187%2C-18.99847%2C47.62187%2C-18.81847&layer=mapnik&marker=-18.90847%2C47.52687">
    </iframe>
  </div>

  <div class="text-center mt-3">
    📍 Pavillon Analakely, Antananarivo<br>
    📞 034 00 000 00<br>
    📧 m1p13meantsiryirina@gmail.com
  </div>
</section>
