/* Wrapper global */
.page-wrapper {
  height: calc(100vh - 90px); /* 90px = hauteur navbar */
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

/* Conteneur produits */
.produits-container {
  width: 100%;
  max-width: 1400px;
  height: 80%;
  overflow-y: auto;
  padding: 0 15px 30px 15px;
}

/* Scrollbar plus clean (optionnel) */
.produits-container::-webkit-scrollbar {
  width: 8px;
}
.produits-container::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 4px;
}
.card-img-top {
  height: 180px;
  object-fit: cover;
}