<div id="boutiqueCarousel"
     class="carousel slide"
     data-bs-ride="carousel"
     data-bs-interval="3000"
     data-bs-pause="false">

  <div class="carousel-inner">

    <div
      class="carousel-item"
      *ngFor="let boutique of boutiques; let i = index"
      [class.active]="i === 0"
    >
      <div class="d-flex justify-content-center">
        <div class="card boutique-card">
          <img
            [src]="'/img/' + boutique.image"
            class="card-img-top"
            [alt]="boutique.nom"
          >

          <div class="card-body">
            <h5 class="card-title">{{ boutique.nom }}</h5>
            <p class="card-text">
              {{ boutique.description }}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
